body {
    color: rgb(248, 206, 231);
    background: rgb(185, 149, 181);
    margin: 0xpx;
}

header {
   border-bottom: solid 2px rgb(248, 206, 231); 
   padding:20px;
   font-size: 32px;
   color: rgb(248, 206, 231); 
}

section {
    background: rgb(225, 255, 2);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}